<div class="" sc-modal="indexCtrl.perfilCtrl.modal">

	<div class="sc-modal-header col-xs-12" style="min-height: 3.1em;">
		<div class="sc-text-lg align-self-center">
			<div ng-if="indexCtrl.perfilCtrl.viewPerfis && !indexCtrl.perfilCtrl.viewCategorias" class="col-xs-4">Perfis de passagem</div>
			<div ng-if="indexCtrl.perfilCtrl.viewCategorias && !indexCtrl.perfilCtrl.viewPerfis" class="col-xs-2 sc-m-r-xxl">Categorias</div>
		</div>
		<button ng-if="!indexCtrl.perfilCtrl.viewPermissoes" class="sc-btn sc-btn-green sc-btn-sm sc-btn-thin">
			<span ng-if="indexCtrl.perfilCtrl.viewPerfis && !indexCtrl.perfilCtrl.viewCategorias" ng-click="indexCtrl.perfilCtrl.newPerfil()">Novo Perfil</span>
			<span ng-if="indexCtrl.perfilCtrl.viewCategorias && !indexCtrl.perfilCtrl.viewPerfis" ng-click="indexCtrl.perfilCtrl.newCategoria()">Nova Categoria</span>
		</button>
		<i class="sc-modal-close sc-badge-hover-red sc-icon-fechar-1 sc-cursor-pointer" ng-click=indexCtrl.perfilCtrl.modal.close()></i>
	</div>

	<div class="sc-modal-body">
		<div class="sc-btn-group sc-m-l-xxxl" style="z-index: 150;">
			<button class="sc-btn sc-btn-default" ng-click="indexCtrl.perfilCtrl.showPerfis()" ng-class="{'sc-btn-blue': indexCtrl.perfilCtrl.viewPerfis && !indexCtrl.perfilCtrl.viewCategorias && !indexCtrl.perfilCtrl.viewPermissoes}">Perfis</button>
			<button class="sc-btn sc-btn-default" ng-click="indexCtrl.perfilCtrl.showCategorias()" ng-class="{'sc-btn-blue': !indexCtrl.perfilCtrl.viewPerfis && indexCtrl.perfilCtrl.viewCategorias && !indexCtrl.perfilCtrl.viewPermissoes}">Categorias</button>
			<button class="sc-btn sc-btn-default" ng-click="indexCtrl.perfilCtrl.showPermissoes()" ng-class="{'sc-btn-blue': indexCtrl.perfilCtrl.viewPermissoes && !indexCtrl.perfilCtrl.viewCategorias && !indexCtrl.perfilCtrl.viewPerfis}">Permissões</button>
		</div>
		<div class="sc-fieldset" style="position: relative; top: -0.6em; z-index: 100;">
			<ul ng-if="indexCtrl.perfilCtrl.viewPerfis && !indexCtrl.perfilCtrl.viewCategorias && !indexCtrl.viewPermissoes" ng-class="{'sc-accordion': indexCtrl.perfilCtrl.list.length > 0}">
				<li ng-if="indexCtrl.perfilCtrl.list.length <= 0">
					<div class="flex-row">
						<div class="fcol-xs-auto sc-label align-center">
							<i class="sc-icon sc-icon-exclamacao-1"></i>
							<span>Nenhum perfil cadastrado!</span>
						</div>
					</div>
				</li>
				<li ng-repeat="perfil in indexCtrl.perfilCtrl.list track by $index" ng-init="indexCtrl.perfilCtrl.init(perfil)">
					<div class="flex-row sc-p-xs sc-accordion-head">
						<div class="sc-text-bold sc-text-black">{{perfil.nome}}</div>
						<div ng-if="perfil.disabled">
							<span class="sc-border-radius sc-text-sm sc-p-v-sm sc-text-white sc-p-h-lg sc-bg-yellow">Desativado!</span>
						</div>
						<div class="fcol-xs-auto"></div>
						<div class="right align-self-center">
							<div sc-tooltip="Editar" class="sc-tooltip-top sc-tooltip-lg">
								<i class="sc-icon sc-icon-lapis sc-badge-hover-blue" ng-click="indexCtrl.perfilCtrl.editar(perfil)"></i>
							</div>
							<div sc-tooltip="Desativar" class="sc-tooltip-lg sc-tooltip-top">
								<i ng-if="!perfil.disabled" class="sc-icon sc-m-l-md sc-icon-banir sc-badge-hover-yellow" ng-click="indexCtrl.perfilCtrl.desativar(perfil)"></i>
							</div>
							<div sc-tooltip="Restaurar" class="sc-tooltip-top sc-tooltip-lg">
								<i ng-if="perfil.disabled" class="sc-icon sc-m-l-md sc-icon-seta-9-esquerda sc-badge-hover-green" ng-click="indexCtrl.perfilCtrl.desativar(perfil)"></i>
							</div>
							<div class="sc-tooltip-lg sc-tooltip-top" sc-tooltip="Excluir">
								<i class="sc-icon sc-m-l-md sc-icon-lixeira-2 sc-badge-hover-red" ng-click="excluir()"></i>
							</div>
						</div>
					</div>
					<div class="sc-p-sm" ng-include="'templates/perfil_form.html'" ng-if="perfil.edit.opened"></div>
				</li>
			</ul>
			<ul ng-if="!indexCtrl.perfilCtrl.viewPerfis && indexCtrl.perfilCtrl.viewCategorias && !indexCtrl.perfilCtrl.viewPermissoes" ng-class="{'sc-accordion': indexCtrl.categoriasCtrl.list.length > 0}">
				<li ng-if="indexCtrl.categoriasCtrl.list.length <= 0">
					<div class="flex-row">
						<div class="fcol-xs-auto sc-label align-center">
							<i class="sc-icon sc-icon-exclamacao-1"></i>
							<span>Nenhuma categoria cadastrada!</span>
						</div>
					</div>
				</li>
				<li ng-repeat="categoria in indexCtrl.categoriasCtrl.list track by $index">
					<div class="flex-row sc-p-xs sc-accordion-head">
						<div ng-if="!categoria.edit" class="sc-text-bold sc-text-black">{{categoria.label}}</div>
						<div class="sc-input-group sc-text-sm fcol-xs-50" ng-if="categoria.edit">
							<input class="sc-input-default sc-text-lg" ng-model="indexCtrl.categoriasCtrl.novaCategoria">
							<button class="sc-btn sc-btn-green sc-text-lg" ng-click="save()"><i class="sc-icon sc-icon-visto-1"></i></button>
							<button class="sc-btn sc-btn-red sc-text-lg" ng-click="indexCtrl.categoriasCtrl.editarCategoria(categoria)"><i class="sc-icon sc-icon-fechar-1"></i></button>
						</div>
						<div ng-if="categoria.disabled && !categoria.edit">
							<span class="sc-border-radius sc-text-sm sc-p-v-xs sc-text-white sc-m-h-lg sc-p-h-lg sc-bg-yellow">Desativada!</span>
						</div>
						<div class="fcol-xs-auto"></div>
						<div class="right align-self-center">
							<div class="sc-tooltip-top sc-tooltip-lg" sc-tooltip="Editar">
								<i class="sc-m-l-md sc-icon sc-icon-lapis sc-badge-hover-blue" ng-click="indexCtrl.categoriasCtrl.editarCategoria(categoria)"></i>
							</div>
							<div class="sc-tooltip-top sc-tooltip-lg" sc-tooltip="Desativar">
								<i ng-if="!categoria.disabled" class="sc-m-l-md sc-icon sc-icon-banir sc-badge-hover-yellow" ng-click="indexCtrl.categoriasCtrl.desativarCategoria(categoria)"></i>
							</div>
							<div class="sc-tooltip-top sc-tooltip-lg" sc-tooltip="Restaurar">
								<i ng-if="categoria.disabled" class="sc-m-l-md sc-icon sc-icon-seta-9-esquerda sc-badge-hover-green" ng-click="indexCtrl.categoriasCtrl.desativarCategoria(categoria)"></i>
							</div>
							<div class="sc-tooltip-lg sc-tooltip-top" sc-tooltip="Excluir">
								<i class="sc-m-l-md sc-icon sc-icon-lixeira-2 sc-badge-hover-red" ng-click="indexCtrl.categoriasCtrl.rmv(categoria)"></i>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul ng-if="indexCtrl.perfilCtrl.viewPermissoes && !indexCtrl.perfilCtrl.viewCategorias && ! indexCtrl.perfilCtrl.viewPerfis" class="sc-accordion">
				<li ng-repeat="permissao in indexCtrl.permissoesCtrl.list track by $index">
					<div class="sc-accordion-head">
						<div class="sc-label col-xs-6 sc-text-black">{{permissao.label}}</div>
						<div class="col-xs-6 align-right">
							<label>
								<span class="sc-toggle">
									<input type="checkbox" ng-model="permissao.value"/>
									<span label-true="Sim" label-false="Não"></span>
								</span>
							</label>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="sc-modal-footer">
		<button class="align-right sc-btn sc-btn-default" ng-click="indexCtrl.perfilCtrl.close()">Fechar</button>
	</div>

</div>