<div class="sc-fieldset col-xs-12">
	<form>
		<div class="col-xs-5">
			<div class="sc-label">Título do perfil:</div>
			<div>
				<input class="sc-input-default" ng-model="perfil.nome">
			</div>
		</div>
		<div class="col-xs-5 align-self-center">
			<button class="sc-btn sc-dropdown sc-btn-blue align-self-center" ng-click="perfilCtrl.showPermissoes(perfil)">Permissões dos porteiros</button>
			<ul class="sc-dropdown-menu" ng-if="showPermissoes">
				<li ng-repeat="permissao in perfil.permissoes" ng-click="indexCtrl.perfilCtrl.setPermissao()">
					<i class="sc-icon" ng-class="{'sc-icon-quadrado-1': !permissao.checked , 'sc-icon-visto-4': permissao.checked}"></i>
					<span>{{permissao.label}}</span>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
		<div class="sc-border-b-dashed sc-text-gray sc-m-v-lg"></div>
		<div class="sc-fieldset">
			<div class="sc-fieldset-head flex-row">
				<div class="sc-label sc-text-lg align-self-center">Objetos</div>
				<button class="sc-btn sc-btn-green sc-btn-thin sc-btn-sm align-self-center hidden-xs sc-m-h-lg" ng-click="indexCtrl.perfilCtrl.addObjeto()">Adicionar objeto</button>
				<button class="sc-btn sc-btn-red sc-btn-thin sc-btn-sm align-self-center hidden-xs" ng-click="indexCtrl.perfilCtrl.limparFormulario()">Limpar formulário</button>
				<i class="sc-icon sc-icon-mais-1 sc-badge-hover-green visible-xs" ng-click="indexCtrl.perfilCtrl.addObjeto()"></i>
				<i class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red visible-xs" ng-click="indexCtrl.perfilCtrl.limparFormulario()"></i>
			</div>
			<div class="sc-fieldset sc-text-sm" ng-repeat="objeto in perfil.objetos track by $index">
				<div class="sc-fieldset-head">
					<select class="sc-input-default" ng-if="!categoria.edit && !categoria.new" ng-options="categoria as categoria.label disable when categoria.disable for categoria in indexCtrl.categoriasCtrl.list track by categoria.id" ng-model="objeto.categoria">
						<option value="">Selecione ou cadastre</option>
					</select>
					<div ng-if="categoria.edit || categoria.new" class="sc-input-group">
						<input class="sc-input-default" ng-model="categoria.label">
						<button class="sc-btn sc-btn-green" ng-click="indexCtrl.categoriasCtrl.salvarCategoria()"><i class="sc-icon sc-icon-visto-1"></i></button>
						<button class="sc-btn sc-btn-red" ng-click="indexCtrl.categoriasCtrl.cancelarCadastro()"><i class="sc-icon sc-icon-lixeira-1"></i></button>
					</div>
					<i class="sc-icon sc-icon-mais-1 sc-badge-hover-green sc-m-h-md" ng-click=indexCtrl.perfilCtrl.addItem(objeto)></i>
					<i class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red" ng-click="indexCtrl.perfilCtrl.rmvObjeto()"></i>
				</div>
				<ul ng-if="perfil.objetos.length > 0">
					<li class="flex-row">
						<div class="sc-label fcol-xs-15 sc-text-md">Qtd</div>
						<div class="sc-label fcol-xs-auto sc-text-md">Item</div>
					</li>
					<li ng-repeat="item in objeto.itens track by $index">
						<div class="fcol-xs-15">
							<input class="sc-input-default fcol-xs-12" ng-model="item.qtd">
						</div>
						<div class="fcol-xs-50">
							<input class="sc-input-default" ng-model="item.label">
						</div>
						<div class="fcol-xs-3em">
							<i class="sc-icon sc-icon-lixeira-1" ng-click="indexCtrl.perfilCtrl.rmvItem(objeto)"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="align-right">
			<button class="sc-btn sc-btn-blue" ng-click="indexCtrl.perfilCtrl.salvarPerfil()">Salvar</button>
			<button class="sc-btn sc-btn-default" ng-click="indexCtrl.perfilCtrl.cancelarCadastro()">Cancelar</button>
		</div>
	</form>
</div>