<div class="sc-m-h-md sc-p-t-sm">
	<div class="sc-fieldset flex-row">
		<div class="fcol-xs-100">
			<div class="sc-text-gray sc-p-b-sm">Quem sai:
				<span class="sc-text-blue">{{passagem.pessoa_saiu.nome}}</span>
			</div>
			<div class="sc-text-gray sc-p-b-sm">Quem entra:
				<span class="sc-text-blue">{{passagem.pessoa_entrou.nome}}</span>
			</div>
			<div class="sc-text-gray sc-p-b-sm">Cadastrado em:
				<span class="sc-text-blue">{{passagem.data_cadastro | date: "dd/MM/yyyy" }}, às {{passagem.data_passagem | date: 'mediumTime' }}</span>
			</div>
			<div class="sc-text-gray sc-p-b-sm" ng-if="passagem.status.label == 'Realizada'">Passagem realizada em:
				<span class="sc-text-blue">{{passagem.data_passagem | date: "dd/MM/yyyy" }}, às {{passagem.data_passagem | date: 'mediumTime' }}</span>
			</div>
			<div class="sc-text-gray" ng-if="passagem.notificacoes.length > 0">
				<span>
					<i class="sc-icon sc-icon-carta-4"></i>
					<span class="sc-text-gray">Notificações</span>
				</span>
				<div class="sc-bg-gray-lighter sc-border-solid sc-border-radius sc-m-t-xs sc-scrollbar sc-top-scroll" style="max-height: 6.7em; overflow: auto;
				border-color: #dfe0e2;">
					<div class="sc-text-sm sc-m-l-md sc-m-v-xs" ng-repeat="notificacao in passagem.notificacoes">
						<div class="sc-text-{{notificacao.status.color}}">
							<p ng-if="notificacao.status.label === 'Enviada'"><b>{{notificacao.user.name}} - {{notificacao.user.email}}</b> (enviada em {{notificacao.data_envio}}</p>
							<p ng-if="notificacao.status.label === 'Lida'"><b>{{notificacao.user.name}} - {{notificacao.user.email}}</b> (lida em {{notificacao.data_leitura}})</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sc-fieldset flex-row">
		<div class="sc-text-gray">
			Eu,
			<span class="sc-text-bold sc-label"> {{passagem.pessoa_saiu.nome}}</span>, passo o posto de serviço para o(a)
			<span class="sc-text-bold sc-label"> {{passagem.pessoa_entrou.nome}}</span>, de acordo com as informações abaixo:
		</div>
		<div class="clear sc-p-none"></div>
		<div class="sc-label sc-text-xxl sc-p-xs sc-m-l-md">{{passagem.perfil.nome}}</div>
		<table ng-repeat="objeto in passagem.objetos track by $index" class="sc-table sc-fieldset col-xs-12 sc-m-h-md">
			<thead>
				<tr>
					<th>
						<div class="sc-text-blue sc-text-bold">{{objeto.categoria.label}}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="sc-text-bold sc-text-gray">Nome</td>
					<td class="sc-text-bold sc-text-gray align-right">Qtd</td>
				</tr>
				<tr ng-repeat="item in objeto.itens track by $index">
					<td class="sc-text-black">{{item.label}}</td>
					<td class="sc-text-black align-right">{{item.qtd}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="sc-fieldset">
		<div class="sc-m-h-xs">
			<div class="sc-label">Observações:</div>
			<div class="sc-text-md sc-text-black">{{passagem.observacoes}}</div>
		</div>
	</div>
</div>