<div class="flex-row sc-text-sm-xs">
	<button class="sc-btn sc-btn-green left" ng-click="indexCtrl.novaPassagemCtrl.newRecord()">
		<span class="hidden-xs">Nova Passagem</span>
		<span class="visible-xs"><i class="sc-icon sc-icon-mais-1"></i></span>
	</button>
	<div class="sc-p-h-lg fcol-sm-60 fcol-xs-70 fcol-lg-45">
		<form class="sc-input-group">
			<input class="sc-input sc-input-default" ng-model="filter.param" type="text">
			<button class="sc-btn sc-btn-blue" ng-click="applyFilter()"><i class="sc-icon sc-icon-lupa-1"></i></button>
			<button class="sc-btn sc-btn-blue" ng-class="{'sc-btn-gray': indexCtrl.filtroCtrl.filtroAvancado}" ng-click="indexCtrl.filtroCtrl.showFilter()"><i class="sc-icon sc-icon-filtro-2"></i></button>
			<button class="sc-btn sc-btn-blue" ng-click="makePdf()"><i class="sc-icon sc-icon-impressora"></i></button>
		</form>
	</div>
	<div class="fcol-xs-auto"></div>
	<div id="toolbar" class="fcol-xs-3em" sc-stop-click>
		<div class="sc-dropdown" ng-click="indexCtrl.topToolBar.toggle()">
			<i class="sc-btn sc-btn-default sc-icon sc-icon-reticiencias-v"></i>
			<ul class="sc-dropdown-menu pull-right" ng-show="indexCtrl.topToolBar.menuIsVisible">
				<li ng-click="indexCtrl.perfilCtrl.modalToggle()">
					<span>Perfis de passagem</span>
				</li>
				<li ng-click="perfilCtrl.showLog()">
					<span>Histórico</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div ng-if="indexCtrl.filtroCtrl.filtroAvancado" id="top-bar-filter" class="flex-row">
	<form class="sc-p-sm col-xs-12">
		<div class="col-xs-12 col-sm-4 col-md-3 sc-p-t-sm">
			<label class="sc-label">Saiu:</label>
			<div>
				<select class="sc-input-default col-xs-12" ng-options="porteiro as porteiro.nome for porteiro in indexCtrl.porteiroCtrl.list" ng-model="indexCtrl.filtroCtrl.params.quemSai"></select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 sc-p-t-sm">
			<label class="sc-label">Entrou:</label>
			<div>
				<select class="sc-input-default col-xs-12" ng-options="porteiro as porteiro.nome for porteiro in indexCtrl.porteirosCtrl.list" ng-model="indexCtrl.filtroCtrl.params.quemEntra"></select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 sc-p-t-sm">
			<label class="sc-label">Início</label>
			<div>
				<input sc-date-input type="date" max="3000-12-31" min="1991-01-01" class="sc-input-default col-xs-12" ng-model="indexCtrl.filtroCtrl.params.data_inicio">
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 sc-p-t-sm">
			<label class="sc-label">Fim</label>
			<div>
				<input sc-date-input type="date" max="3000-12-31" min="1991-01-01" class="sc-input-default col-xs-12" ng-model="indexCtrl.filtroCtrl.params.data_fim">
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 sc-p-t-sm">
			<label class="sc-label">Status:</label>
			<div>
				<select class="sc-input-default col-xs-12" ng-model="indexCtrl.filtroCtrl.params.status">
					<option value="pendente">Pendente</option>
					<option value="realizada">Realizada</option>
					<option value="cancelada">Cancelada</option>
				</select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 sc-p-t-sm">
			<label class="sc-label">Tipo de data:</label>
			<select class="sc-input-default col-xs-12" ng-model="indexCtrl.filtroCtrl.params.tipo_data">
				<option value="passada_em">Passada em</option>
				<option value="cadastrada_em">Cadastrada em</option>
			</select>
		</div>
		<div class="clear"></div>
		<hr>
		<div ng-if="indexCtrl.filtroCtrl.params.searchList.length > 0">
			<div ng-repeat="data in indexCtrl.filtroCtrl.params.searchList">
			</div>
		</div>
		<div class="col-xs-12 sc-p-b-lg">
			<button class="sc-btn sc-btn-blue sc-btn-awesomeness" ng-click="indexCtrl.filtroCtrl.pesquisar()">
				<div class="sc-btn-icon"><i class="sc-icon sc-icon-visto-1"></i></div>
				<div class="sc-btn-text">Aplicar</div>
			</button>
			<button class="sc-btn sc-btn-red sc-btn-awesomeness" ng-click="indexCtrl.filtroCtrl.limparFiltro()">
				<div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
				<div class="sc-btn-text">Limpar Filtro</div>
			</button>
			<button class="sc-btn sc-btn-green sc-btn-awesomeness" ng-click="indexCtrl.filtroCtrl.addPeriodo()">
				<div class="sc-btn-icon"><i class="sc-icon sc-icon-mais-1"></i></div>
				<div class="sc-btn-text">Adicionar Período</div>
			</button>
		</div>
	</form>
</div>